body {
    background-color: #000;
    color: #EEE;
}

a {
    color: #EEE;
}

a:hover {
    color: #EEE;
}

a.movie {
    display: block;
    float: left;
    width: 226px;
}

a.movie:hover img {
    opacity: 1;
}

a.movie img {
    width: 100%;
    opacity: 0.9;
}

span.genre {
    display: inline-block;
    padding: 5px;
    background-color: #757575;
}

div.rating {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 20px;
}

.movie-info h2 {
    margin-top: 0;
}